
body {
  font-family: Arial, sans-serif;
  background-color: #ffcce7;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 500px;
  margin: 0 auto;
  background-color: #4d5198;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0px 20px rgba(0,0,0,1);
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #blue;
  margin-bottom: 30px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #111111;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}

